<section class="py-12 px-6 lg:py-24 lg:px-12">
    <div class="max-w-screen-xl mx-auto">
        <div class="lg:flex lg:items-center">
            <div class="lg:w-1/2 lg:pr-12">
                <h2 class="text-2xl font-extrabold text-white mb-4 lg:text-5xl">Meet the Developer :</h2>
                <h3 class="md:text-7xl text-5xl font-extrabold text-primary mb-2">Mohamed Aziz Jabri</h3>
                <p class="leading-relaxed text-white font-medium text-2xl mb-6">Fullstack Web Developer</p>
                <p class="leading-relaxed mb-2">A Software Engineer with a passion for building web applications and solving problems. I have experience in building web applications using modern technologies.</p>
                <p class="leading-relaxed mb-6">I am a self-taught developer who is always eager to learn new technologies and improve my skills. I am currently looking for new opportunities to work on exciting projects.</p>
                <a href="https://www.azizjb.tn" target="_blank" class="btn btn-primary btn-wide rounded-full text-white">Visit my portfolio</a>
            </div>
            <div class="mt-8 lg:mt-0 lg:w-1/2">
                <img src="assets/profile-pic.png" alt="Mohamed Aziz Jabri" class="lg:float-right lg:ml-4 lg:mb-4 md:mx-auto md:block md:mb-4 sm:mx-auto sm:block sm:mb-4" width="400" height="400">
            </div>
        </div>
    </div>
</section>
