<section class="py-12 px-6 lg:py-24 lg:px-12">
    <div class="max-w-screen-xl mx-auto">
        <div class="lg:flex lg:items-center flex-row-reverse">
            <div class="mt-8 lg:mt-0 lg:w-1/2">
                <img src="assets/404.png" alt="404 Not Found" class="lg:float-right lg:ml-4 lg:mb-4 md:mx-auto md:block md:mb-4 sm:mx-auto sm:block sm:mb-4 animate-pulse" width="500" height="500">
            </div>
            <div class="lg:w-1/2 lg:pr-12 flex flex-col items-center">
                <h2 class="text-5xl font-extrabold text-error mb-4 lg:text-9xl animate-bounce">404</h2>
                <h3 class="md:text-7xl text-5xl font-extrabold text-white mb-10">Page Not Found</h3>
                <a href="/" class="btn btn-error btn-wide rounded-full text-white">Go back home</a>
            </div>
        </div>
    </div>
</section>
